* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background-color: #202124;
}

.btn {
  color: #e8eaed;
  background-color: #3c4043;
  border: none;
  padding: 10px 20px;
  border-radius: 5px;
  cursor: pointer;
}

.language {
  color: #bdc1c6;
}

.english {
  color: #8ab4f8;
}

#search-term,
#search-hint {
  color: #e8eaed;
  background-color: transparent;
}

#search-hint li {
  padding-top: 5px;
  padding-bottom: 5px;
}

#search-term {
  border: none;
  outline: none;
  width: 443px;
  height: 48px;
  line-height: 48px;
  font-size: 18px;
  background-color: transparent;
  resize: none;
  padding-left: 7px;
}

#search-hint {
  list-style-type: none;
  display: none;
  margin-top: 5px;
  margin-left: 14px;
}

#search-hint li a {
  color: #e8eaed;
  text-decoration: none;
  display: flex;
  align-items: center;
  gap: 15px;
}

.main-content {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
  gap: 30px;
}

.btns {
  margin-top: 30px;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 10px;
}

form {
  border-radius: 25px;
}

.search-icon {
  width: 16px;
  height: 16px;
}

.details {
  font-size: 14px;
  color: #9aa0a7;
}

.search-bar {
  border-radius: 25px;
  width: 582px;
  background-color: #303134;
}

.search-bar > div {
  margin-left: 14px;
  margin-right: 14px;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.icon {
  width: 26px;
}

.btns {
  margin-bottom: 30px;
}

.icon-close {
  display: none;
  cursor: pointer;
}

.close-icon-wrapper {
  padding-right: 13px;
  border-right: 1px solid gray;
}
